@media only screen and (min-width:992px) and (max-width:1300px) {
    .one {
        grid-template-columns: 175px 175px 175px 175px;
        column-gap: 6%;
    }

    .cardss {
        height: auto;
    }

    .butns {
        width: 52%;
        height: 3vw;
    }

    .visit {
        grid-template-columns: 192px 192px 192px 192px 192px;
    }

    footer {
        transform: translate(0px, 37%);
    }

    .card-button {
        width: 65%;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    .one {
        grid-template-columns: 175px 175px 175px;
        height: auto;
        gap: 1%;
        column-gap: 10%;
    }

    h1.cell {
        margin: 3%;
    }

    .cardss {
        height: auto;
    }

    .visit {
        grid-template-columns: 185px 185px 185px 185px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .one {
        /* grid-template-columns: 150px 150px 150px;
        row-gap: 12px;
        column-gap: 41px; */
        grid-template-columns: 160px 160px;
        row-gap: 22px;
        column-gap: 10%;
        margin: 25px 0;
    }

    .cardss {
        height: auto;
    }

    .button {
        margin: 8px;
    }

    .add {
        height: auto;
    }

    .visit {
        grid-template-columns: 180px 180px 180px;
    }

    footer {
        transform: translate(0px, 12%);
    }

    form input[type="text"] {
        height: 4vw;
    }

    .find {
        height: 31px;
        width: 83%;
    }

    .butns {
        height: 4vw;

    }
}

@media only screen and (min-width:300px) and (max-width:575px) {

    .visit {
        grid-template-columns: 190px;
        justify-content: center;
    }

    .one {
        grid-template-columns: 214px;
        justify-content: center;
        row-gap: 36px;
    }

    .butns {
        height: 18px;
    }

    h1.cell {
        font-size: 37px;
        height: 89px;
    }

    .payment {
        height: auto;
    }

    .nav3 {
        padding: 17px 4px;
    }

    .visa {
        flex-wrap: wrap;
    }

    .cardss {
        padding: 8% 4%;
    }

    footer {
        transform: translate(0px, 6%);
    }

    .nav1 {
        display: none;
    }

    .icon {
        display: none;
    }

    .search {
        font-size: 25px;
    }

    form input[type="text"] {
        height: 5vw;
    }

    i.fa-solid.fa-magnifying-glass {
        left: 27px;
    }

    .nav2 {
        justify-content: center;
        height: 81px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .find {
        height: 31px;
        width: 83%;
        padding-left: 39px;
    }

    .letter p {
        flex: 0;
    }
}