* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

section {
    height: auto;
    width: 100%;
    margin: auto;
}

.log {
    display: flex;
    gap: 6px;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    background-color: #8c0000;
    height: 50px;
    align-items: center;
    color: #fff;
}

.list ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list {
    width: 250px;
}

.nav2 {
    background-color: #eb1414;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-around;
    font-size: 28px;
}

a.clover {
    color: #fff;
}

.icon {
    color: #fff;
    display: flex;
    gap: 20px;
}

.div {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 30%;
    left: 3%;
    color: #0c0c0cbd;
    font-size: 17px;
}

.find {
    height: 40px;
    width: 530px;
    color: #000;
    border-color: #b3aeae6c;
    box-shadow: 0 0 transparent, 0 0 transparent, inset 0 2px 4px 0 rgba(0, 0, 0, .05);
    background-color: rgba(250, 250, 250);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    padding-left: 60px;
    outline: none;
}

form button:hover {
    background: rgb(13, 14, 13);
    color: rgb(236, 222, 222);
}

.hamburger-icon {
    display: none;
}

.hamburger-icon {
    border: none;
    background-color: transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x {
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

.navigation {
    display: flex;
    list-style: none;
    width: 100%;
    color: #000;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 3%;
    font-size: 20px;
}

.navigation a {
    color: #0c0c0c;
    font-size: 17px;
}


@media screen and (max-width: 750px) {
    .nav3 {
        /* height: 9px; */
        display: block;
        padding: 20px 10px;
    }

    i.fa-solid.fa-x {
        display: none;
    }

    .navigation {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .hamburger-icon {
        display: block;
    }

    .fa-x {
        display: none;
    }

    .nav3:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
        margin: -2%;
        height: auto;
        width: 104%;
        background: white;
        font-size: 52px;
    }

    .nav3:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    .nav3:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }
}

.navigation a.deals {
    color: rgb(231, 18, 18);
}

.cardss {
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 0.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.cardss:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.cardss:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.one {
    display: grid;
    margin: 2%;
    row-gap: 3%;
    /* gap: 2%; */
    column-gap: 5%;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px;
}

.cell {
    height: 9vw;
    text-align: center;
    font-size: 63px;
}

.search h2 a {
    text-decoration: none;
    color: black;
}

.letter {
    margin: 2%;
    font-size: 16px;
    display: flex;
    height: 140px;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.letter p {
    flex: 1;
}

.item1 img {
    width: 100%;
    height: 180px;
}

.dollar {
    color: red;
    font-size: 24px;
}

.dollar1 {
    color: red;
    display: flex;
    font-size: 24px;
    gap: 7%;
}

input.add {
    height: 30px;
    text-indent: 12px;
    width: 92%;
}

.button {
    background-color: #0e0d0d;
    border-radius: 20px;
    width: 78%;
    height: 31px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.butns {
    background-color: #e71818;
    border-radius: 20px;
    width: 47%;
    height: 29px;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butns a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer {
    background-color: #eb1414;
    transform: translate(0px, 13%);
}

.visit {
    border-bottom: 2px solid rgba(216, 206, 188, 0.699);
    border-width: 1px;
    justify-content: center;
    color: #fff;
    grid-template-columns: 240px 240px 240px 240px 240px;
    display: grid;
    padding: 3%;
    line-height: 2.1;
}

.icons {
    font-size: 23px;
    line-height: 6;
    height: 100px;
}

.payment {
    width: 89%;
    padding: 5%;
    line-height: 2;
}

.hi {
    justify-content: center;
    display: flex;
    gap: 3%;
    align-items: center;
}

.terms {
    text-align: center;
}

.hi p a {
    color: #fff;
}

.visa {
    display: flex;
    gap: 2%;
    justify-content: center;
}

.power {
    text-align: center;
    height: 2vw;
    font-size: 18px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #423434;
}


.content1 {
    display: none;
    position: absolute;
    width: 10pc;
    gap: 5%;
    cursor: pointer;
    font-size: 2px;
    background-color: #fff;
    z-index: 1;
}

.dropdown1:hover .content1 {
    display: flex;
}

.first {
    font-size: 20px;
}

.lips {
    color: #ee1d6b;
}