@media only screen and (min-width:992px) and (max-width:1300px) {

    header.nav-menu {
        width: 100%;
    }

    img.slide1 {
        height: 67vw;
    }

    .over {
        height: 71vw;
    }


    .categories {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        height: auto;
        width: 76%;
    }

    /* .popular {
        height: 25vw;
    } */

    .italy {
        font-size: 33px;
    }

    .cleans {
        height: 39vw;
    }

    .images {
        height: 36vw;
        width: 83%;
    }

    .payment {
        width: 89%;
    }

    .images {
        width: 89%;
        justify-content: center;
        /* grid-template-columns: 200px; */
        /* display: inline-grid; */
    }

    .visit {
        width: 93%;
        grid-template-columns: 190px 190px 190px 190px 189px;
    }

    .butns {
        width: 64%;
        height: 3vw;
    }

    .cardss {
        height: auto;
    }

    .card:hover .content {
        width: 180px;
        height: 138px;
    }

    .card {
        margin: auto;
    }

    .great2 {
        font-size: 23px;
    }

    .letter {
        line-height: 1.5;
        font-size: 16px;
        height: 177px;
    }

    .greats {
        transform: translate(-50%, 43%);
        height: 54%;
    }

    .button {
        margin: 3%;
    }

    .limit {
        display: none;
    }

    .box {
        width: 77%;
    }

}

@media only screen and (min-width:769px) and (max-width:991px) {

    header.nav-menu {
        width: 100%;
    }

    .list {
        width: 30%;
    }

    .card:hover .content {
        width: 183px;
        height: 138px;
    }

    .card:hover {
        width: 193px;
    }

    .card {
        margin: auto;
    }

    .visit {
        grid-template-columns: 175px 175px 175px 175px;
    }

    .cardss {
        height: 41vw;
        width: 88%;
    }

    .letter {
        height: 177px;
        line-height: 31px;
    }

    .door {
        width: 16%;
        height: 26vw;
        font-size: 26px;
    }

    .categories {
        width: 93%;
        grid-template-columns: 2fr 2fr 2fr;
        height: auto;
    }

    img.slide1 {
        height: 62vw;
    }

    .text-box1 {
        font-size: 23px;
    }

    .visit {
        width: 94%;
    }

    .payment {
        width: 90%;
    }

    .pagination {
        top: 33%;
    }

    .italy {
        font-size: 23px;
    }

    .images {
        height: auto;
        width: 103%;
        grid-template-columns: 240px 240px 239px;
        display: inline-grid;
        text-align: center;
    }

    .wrapper {
        margin: auto;
    }

    .text-box2 {
        font-size: 23px;
    }

    .text-box3 {
        font-size: 23px;
    }

    .banner2,
    .banner1,
    .banner3 {
        height: 21vw;
    }

    .deliver {
        grid-template-columns: 175px 192px 208px 194px
    }

    .butn-dark {
        width: 71%;
        height: 32px;
    }

    .great {
        font-size: 18px;
    }

    h1.stays {
        width: 51%;
    }

    .time {
        font-size: 31px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {

    header.nav-menu {
        width: 100%;
    }

    .deliver {
        gap: 18px;
        grid-template-columns: 280px 280px;
    }

    .images {
        width: 95%;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        display: inline-grid;
        row-gap: 30px;
    }

    .cardss {
        height: auto;
        width: 68%;
        margin: auto;
    }

    .list {
        width: 25%;
    }


    .card:hover .content {
        width: 150px;
        height: 138px;
    }

    .letter {
        height: 159px;
        line-height: 14px;
    }

    .door {
        width: 16%;
        height: 26vw;
        font-size: 26px;
    }

    .body {
        width: 400%;
    }

    .categories {
        height: auto;
        width: 84%;
        grid-template-columns: 2fr 2fr;
    }

    .popular {
        height: 39.2vw;
    }

    img.slide1 {
        height: 62vw;
    }

    .text-box1 {
        font-size: 23px;
    }

    .visit {
        width: 94%;
    }

    .section {
        text-align: center;
    }

    .payment {
        width: 90%;
    }

    .pagination {
        position: relative;
        bottom: top;
        top: 33%;
    }

    .italy {
        font-size: 12px;
    }

    .wrapper {
        margin: auto;
    }

    .text-box2 {
        font-size: 23px;
    }

    .searchs {
        width: 121%;
    }

    .text-box3 {
        font-size: 23px;
    }

    .banner2,
    .banner1,
    .banner3 {
        height: 21vw;
    }

    .butn-dark {
        width: 70%;
        height: 32px;
    }

    .great {
        font-size: 18px;
    }

    h1.stays {
        width: 70%;
    }

    .time {
        font-size: 31px;
    }

    .limit {
        left: 19rem;
    }

    .item1 img {
        height: 27vw;
    }

    .butns {
        width: 48%;
        height: 5vw;
    }

    .corn img {
        height: 450px;
    }

    .visit {
        grid-template-columns: 182px 182px 182px;
    }

    .great1 {
        top: 0;
        font-size: 19px;
    }

    form input[type="text"] {
        height: 4vw;
    }

    .great2 {
        bottom: 0;
        font-size: 16px;
        top: 0;
    }

    p.para {
        font-size: 14px;
    }

    .find {
        height: 31px;
        width: 83%;
    }
}

@media only screen and (min-width:300px) and (max-width:575px) {

    .text-box1,
    .text-box2,
    .text-box3 {
        font-size: 10px;
    }

    .deliver {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 22px;
    }

    .shop {
        width: 82%;
    }

    .banner2,
    .banner1,
    .banner3 {
        height: 77px;
    }

    .banner2 img,
    .banner1 img,
    .banner3 img {
        height: 203px;
    }

    .over {
        height: auto;
    }

    header.nav-menu {
        width: 100%;
    }

    .deliver {
        gap: 18px;
        grid-template-columns: 3fr 3fr;
    }

    .images {
        width: 89%;
        justify-content: center;
        grid-template-columns: 200px;
        display: inline-grid;
    }

    .cardss {
        height: auto;
        width: 100%;
    }

    .list {
        width: 25%;
    }

    .card:hover .content {
        width: 200px;
        height: 138px;
        text-align: center;
    }

    .card {
        text-align: center;
        margin: auto;
        width: 100%;
        height: 300px;
    }

    .letter {
        height: 159px;
        line-height: 14px;
        font-size: 11px;
    }

    .app {
        width: 12%;
        height: 25px;
    }

    .door {
        width: auto;
        transform: translate(-5px, 6px);
        font-size: 13px;
    }

    .clean {
        flex-direction: column;
        width: 93%;
        margin: auto;
    }

    .clean img {
        width: 100%;
        height: 164px;
    }

    .great1 {
        font-size: 11px;
        top: 0rem;
    }

    .great2 {
        transform: translate(7%, 81%);
        font-size: 25px;
    }

    p.para {
        font-size: 13px;
    }

    .body {
        width: 400%;
    }

    .categories {
        width: 93%;
        grid-template-columns: 1fr;
        height: auto;
    }

    .popular {
        height: auto;
    }

    .corn {
        width: 39%;
        height: auto;
    }

    .visit {
        width: 94%;
    }

    .payment {
        width: 90%;
    }

    .italy {
        text-align: center;
        font-size: 9px;
        top: 0px;
    }

    .corn img {
        height: 149vw;
    }

    .butn-dark a {
        font-size: 13px;
    }

    .wrapper {
        margin-left: 2%;
    }

    .searchs {
        flex-direction: column;
        width: 171%;
    }

    .butn-dark {
        width: 78%;
        height: 23px;
    }

    .great {
        font-size: 18px;
    }

    h1.stays {
        width: 95%;
    }

    .search {
        font-size: 22px;
        width: 35%;
    }

    .greats {
        font-size: 25px;
    }

    .time {
        font-size: 31px;
    }

    .limit {
        display: none;
    }

    .item1 img {
        height: 49vw;
    }

    .button {
        height: 34px;
    }

    .butns {
        width: 49%;
        height: 6vw;
    }

    .butn1 {
        width: 49%;
        height: 9vw;
    }

    .corn img {
        height: 450px;
    }

    .visit {
        grid-template-columns: 190px;
        justify-content: center;
    }

    .butn2 {
        width: 38%;
    }

    .visa {
        flex-wrap: wrap;
    }

    .search {
        font-size: 25px;
    }

    .icon {
        display: none;
    }

    form input[type="text"] {
        height: 5vw;
    }

    input.boxes {
        width: 55%;
    }

    .nav1 {
        display: none;
    }

    i.fa-solid.fa-magnifying-glass {
        left: 27px;

    }

    .nav2 {
        justify-content: center;
        height: 81px;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    .find {
        height: 31px;
        width: 83%;
        padding-left: 39px;
    }
}