@media only screen and (min-width:992px) and (max-width:1300px) {
    .one {
        grid-template-columns: 155px 155px 155px 155px;
        column-gap: 8%;
    }

    .letter {
        height: 19vw;
    }

    .cardss {
        height: auto;
    }

    .butns {
        width: 57%;
        height: 3vw;
    }

    .visit {
        grid-template-columns: 192px 192px 192px 192px 192px;
    }

    footer {
        transform: translate(0px, 7%);
    }

    .card-button {
        width: 65%;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    .one {
        grid-template-columns: 175px 175px 175px;
        height: auto;
        gap: 1%;
        width: 84%;
        column-gap: 10%;
    }

    h1.cell {
        margin: 3%;
    }

    .butns {
        width: 49%;
    }

    .letter {
        height: 21vw;
    }

    .cardss {
        height: auto;
    }

    .visit {
        grid-template-columns: 185px 185px 185px 185px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .one {
        grid-template-columns: 165px 171px;
        height: auto;
        width: 70%;
        margin: auto;
        gap: 1%;
        column-gap: 15%;
    }

    .cell {
        height: 14vw;
    }

    .cardss {
        height: auto;
    }

    .letter {
        height: 27vw;
    }

    .button {
        margin: 8px;
    }

    .add {
        height: auto;
    }

    .item1 img {
        width: 100%;
    }

    .visit {
        grid-template-columns: 180px 180px 180px;
    }

    footer {
        transform: translate(0px, 7%);
    }

    form input[type="text"] {
        height: 4vw;
    }

    .find {
        height: 31px;
        width: 83%;
    }

    .butns {
        width: 54%;
    }

}

@media only screen and (min-width:300px) and (max-width:575px) {

    .visit {
        grid-template-columns: 190px;
        justify-content: center;
    }

    .one {
        width: 72%;
        grid-template-columns: 214px;
        justify-content: center;
        gap: 1%;
    }

    .butns {
        height: 22px;
    }

    h1.cell {
        font-size: 37px;
        height: 89px;
    }

    .payment {
        height: auto;
    }

    .nav3 {
        padding: 17px 4px;
    }

    .visa {
        flex-wrap: wrap;
    }

    .cardss {
        border: 1px solid black;
        width: 100%;
        height: auto;
        padding: 0%;
    }

    .letter {
        font-size: 20px;
        height: 150px;
    }

    footer {
        transform: translate(0px, 8%);
    }

    .nav1 {
        display: none;
    }

    .nav2 {
        height: 78px;
    }

    .icon {
        font-size: 19px;
    }

    .search {
        font-size: 25px;
    }

    form input[type="text"] {
        height: 5vw;
    }

    .find {
        height: 31px;
        width: 83%;
    }

    .div {
        width: 32%;
    }
}